#ant specific
*/build/
*/dist/

#NetBeans specific
#ignore entire folder but make exceptions
*/nbproject/*
!*/nbproject/configs/
!*/nbproject/project.properties
!*/nbproject/project.xml

#Project specific
/ResearchManagementSystem/files/
*/*.rms

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
